

<p-menubar [model]="items"></p-menubar>



<!-- <button pButton
        type="button"
        label="Cambiar Nombre"
        class="p-button-help"
        icon="pi pi-check"
        iconPos="right"
        ></button>

        <p-card header="nombre | titlecase"
                subheader="este es el subheader">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo soluta dignissimos nemo odio neque magni non minima, facere aliquid eligendi quibusdam a atque provident dolor! Deleniti inventore quo quae eaque!
        </p-card> -->
